html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;

  /* colours */
  --clr-base: hsl(95, 100%, 19.1%);
  --clr-base-muted: hsl(95, 61.8%, 19.1%);
  --clr-base-tetr-red: hsl(4, 100%, 19.1%);
  --clr-base-text: hsl(95, 100%, 7.3%);
  --clr-base-text-alpha-bold: hsl(95, 100%, 7.3%, 0.81);
  --clr-base-text-alpha-med: hsl(95, 100%, 7.3%, 0.62);
  --clr-base-text-alpha-light: hsl(95, 100%, 7.3%, 0.38);
  --clr-base-bkgd: hsl(95, 23.6%, 98%);
  --clr-base-bkgd-light: hsl(95, 14.6%, 99%);
}
@font-face {
  font-family: Norse-Bold;
  src: url(./fonts/Norse-Bold.otf);
}
.body {
  font-size: 1.6rem;
  margin: 9% 0px;
  display: grid;
  grid-template-columns: 38.2% 61.8%;
  grid-template-areas: 'sidebar content';
  height: 80vh;
  color: var(--clr-base-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
  grid-area: sidebar;
  background: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  color: var(--clr-base-bkgd);
  max-height: 100vh;
}
.banner {
  display: flex;
  background: var(--clr-base-text-alpha-light);
  justify-content: flex-start;
  align-items: center;
  margin-top: 18rem;
  padding-left: 2rem;
}
img {
  height: 11rem;
}
.title {
  color: var(--clr-base-bkgd);
  font-family: Norse-Bold;
}
.caption {
  margin-top: 40rem;
  text-align: center;
}
a {
  color: var(--clr-base-bkgd);
}
/*  */

.container {
  grid-area: content;
  display: grid;
  grid-template-rows: 38.2% 38.2% 23.6%;
}
.container-callToAction {
  background: var(--clr-base-bkgd);
  display: grid;
  place-content: center;
  padding: 0px 2rem;
}
.callToAction {
  font-size: 1.8rem;
  font-weight: 500;
}

/*  */

.container-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 0px 2rem;
}
.required {
  padding: 0px 2rem;
}
.label {
  color: var(--clr-base-text-alpha);
}
.container-input {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
input {
  border: 1px solid var(--clr-base-text-alpha-med);
  border-radius: 3px;
  max-width: 25rem;
}
input:focus {
  outline: 1px solid var(--clr-base);
  box-shadow: 1px 1px 1px 1px var(--clr-base-text-alpha-light);
}
input:invalid {
  outline: 1px solid var(--clr-base-tetr-red);
}

/*  */

.container-createAccount {
  background: var(--clr-base-bkgd);
  display: flex;
  padding: 0px 2rem;
  flex-direction: column;
  justify-content: center;
}
button {
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--clr-base-muted);
  width: 38.2%;
  height: 4rem;
  color: var(--clr-base-bkgd-light);
}
.logIn {
  text-decoration: none;
  color: var(--clr-base-muted);
}
